<%- include('partials/head') %> 
<body>
    <%- include('partials/navbar') %> 
    <H1>The Home Page <%='hello world'.toUpperCase()   %> </H1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ex nemo suscipit commodi explicabo 
        odit architecto voluptatem repellendus, dolor soluta dolores sit eligendi porro non. Unde dolorum esse beatae autem?</p>
</body>
</html>